<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Elor's REST API</title>
  </head>
  <body>
    <!-- Link for all the elements/tags: -->
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element -->
    <h1>Welcome to Elor's website!</h1>
    <h2>this site is actually a REST API running on heroku</h2>
    <h4>this rest api knows how to create/retrieve/delete stores with items</h4>
    <h4>you should probably use the postman app to communicate with me</h4>
    <h3>Registering a user</h3>
    <h4>this app requires jwt token authentication</h4>
    <h4>use "/register" to send in a username and password (JSON)</h4>
    <h4>then use "/auth" in order to recieve back a jwt token to use for your requests</h4>
    <h3>stores ("/store/name")</h3>
    <h4>GET = retrieves a store with the keys: items = a list of items, name = name of the store</h4>
    <h4>POST = saves to DB a store with the keys: name = name of the store</h4>
    <h4>DELETE = recieves a store name and deletes it from the DB</h4>
    <h3>items ("/item/name")</h3>
    <h4>GET = something</h4>
    <h3>** in order to get a list of all stores or itesms use plural ("/items" or "/stores")</h3>
{#    #}
{#    <p>With paragraph tags I can create separation</p>#}
{#    <p> Next paragraph please!</p>#}
{##}
{#    <!--  Use lorem+Tab or lorem+Enter  to  quickly get filler text!-->#}
{##}
{#    <!--  Let's learn about in-line tags!-->#}
{##}
{#    <!--  Old Way-->#}
{#    <p>This is text that in <b>bolded</b> and this is in <i>italic</i></p>#}
{##}
{#    <!--  Newer Semantic Way-->#}
{#    <p>New semantics: <strong>strong</strong> <em>emphasized</em></p>#}

  </body>
</html>
